<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/minty/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/accueil.css" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <a class="navbar-brand">Travel-App</a>
      </nav>
    </header>
    <div class="container-fluid">
      <section class="background mb-5">
        <div class="row justify-content-center">
          <div class="jumbotron">
            <h1 class="display-6">Bonjour, ami(e) voyageur(se)!</h1>
            <p class="lead">
              Tu trouveras ici ton nouvel outil qui te permettra de planifier
              ton voyage de A à Z.
            </p>
            <hr class="my-4" />
            <p>
              Check les vols, crée ta propre todo liste... et bien des choses
              pourront bientôt être possible avec Travel-App.
            </p>
          </div>
        </div>
      </section>
      <section class="connect">
        <div class="row justify-content-center pt-5">
          <div class="contact d-flex justify-content-center">
            <div class="align-items-center">
              <div class="card m-3 border-0" style="max-width: 50rem">
                <div class="card-body">
                  <h4 class="card-title">Rejoins-nous</h4>
                  <h1><i class="far fa-paper-plane fa-2x"></i></h1>
                  <p>Crée un nouveau compte ou connecte-toi</p>
                  <%- include('./partials/messages') %>

                  <a
                    href="/users/inscription"
                    class="btn btn-primary btn-block mb-2"
                    >Inscription</a
                  >
                  <a href="/users/connexion" class="btn btn-secondary btn-block"
                    >Connexion</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="text-center text-white w-100 mt-5">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
          <div class="row">
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/fluid/city/113.jpg"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/fluid/city/111.jpg"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/fluid/city/112.jpg"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/fluid/city/114.jpg"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/fluid/city/115.jpg"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/fluid/city/116.jpg"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Images -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center bottom p-3">
        <a class="text-white" href="https://gitlab.com/tiba.benzer"
          ><p><strong>RATIBA BENZEROUALI</strong></p></a
        >
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
